apiVersion: apps/v1
kind: Deployment
metadata:
  name: bash
  labels:
    app: bash
spec:
  selector:
    matchLabels:
      app: bash
  replicas: 1
  template:
    metadata:
      labels:
        app: bash
    spec:
      containers:
        - name: toolbox
          image: nicolaka/netshoot
          command: ["sleep", "infinity"]
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
      restartPolicy: Always
